## ðŸ§ª Mini Exercise: Customers & Orders (Two Tables + Foreign Key)

You run a small online shop. Create two tables:

1) **Customers**  
    - customer_id   INTEGER  PRIMARY KEY,
    - name          TEXT        NOT NULL,
    - email         TEXT        UNIQUE,
    - city          TEXT,
    - joined_at     DATE        DEFAULT (DATE('now'))
2) **Orders** (each order belongs to one customer)
    - order_id      INTEGER PRIMARY KEY,
    - customer_id   INTEGER     NOT NULL,
    - order_date    DATE        NOT NULL,
    - status        TEXT        NOT NULL CHECK (status IN ('pending','shipped','cancelled')),
    - total_cents   INTEGER     NOT NULL CHECK (total_cents >= 0),
    - FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
        - ON DELETE RESTRICT
        - ON UPDATE CASCADE

Then practice `INSERT`, `UPDATE`, `SELECT`, `JOIN`, and simple aggregations.

In [ ]:
import psycopg2

conn = psycopg2.connect(
    host="db.YOUR_PROJECT_ID.supabase.co",
    database="postgres",
    user="postgres",
    password="YOUR_DB_PASSWORD",
    port="6543"
)

cur = conn.cursor()

In [ ]:
import requests

url = "https://YOUR_PROJECT_ID.supabase.co/rest/v1/rpc"
headers = {
    "apikey": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
    "Authorization": f"Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY",
    "Content-Type": "application/json",
}

query = "SELECT * FROM users;"
response = requests.post(f"{url}/execute_sql", headers=headers, json={"query": query})
print(response.json())

```sql

-- Customers
INSERT INTO Customers (customer_id, name, email, city) VALUES
(1, 'Alice Chen',  'alice@example.com',  'Ithaca'),
(2, 'Ben Patel',   'ben@example.com',    'NYC'),
(3, 'Carla Gomez', 'carla@example.com',  'Boston'),
(4, 'Diego Liu',   'diego@example.com',  'Philadelphia'),
(5, 'Eva Park',    'eva@example.com',    'Ithaca');

-- Orders (amounts in cents)
INSERT INTO Orders (order_id, customer_id, order_date, status, total_cents) VALUES
(101, 1, '2025-10-10', 'pending',  3200),   -- $32.00
(102, 1, '2025-10-11', 'pending',  8900),   -- $89.00
(103, 2, '2025-10-12', 'pending',  1499),   -- $14.99
(104, 3, '2025-10-12', 'pending',  5600),   -- $56.00
(105, 3, '2025-10-13', 'pending',  2400),   -- $24.00
(106, 4, '2025-10-14', 'pending',  10500),  -- $105.00
(107, 5, '2025-10-14', 'pending',  4999);   -- $49.99
```

### âœ… Tasks

1. **Update a few orders to 'shipped'**  
   - Set orders 101, 104, and 106 to `status = 'shipped'`.

2. **Cancel one order**  
   - Set order 103 to `status = 'cancelled'`.

3. **Select:** All orders **over $50** (i.e., `total_cents >= 5000`)  
   - Return `order_id`, `customer_id`, `total_cents`.

4. **Join:** List **customer name, order_id, status, total ($)** for all **shipped** orders  
   - Sort by `order_date` ascending.

5. **Aggregation:** For each customer, show their **total spend in dollars** and **number of orders**  
   - Columns: `name`, `orders_count`, `total_spend_usd`  
   - Sort by `total_spend_usd` descending.

6. **Filter groups:** Show customers with **more than 1 order** (name + count).

7. **String/Pattern:** Find customers whose email ends with `@example.com` (name + email).

8. **Foreign key sanity check:**  
   - Try to delete customer **Alice (id=1)** and observe the FK behavior.  
   - Then delete a customer **with no orders** (insert a temp customer and then delete).

9. **Schema change (DDL):** Add a `phone` column to `Customers` (nullable).  
   - Update **Diego** to have a phone number.

10. **Bonus:** Write a single query that shows `name`, `last_order_date`, and `lifetime_spend_usd` for each customer (including those with 0 orders).